<header>
	<h1></h1>
</header>
<div class="wrapper">
  <div class="row">
  <div class="textCenter"><p class="introText textCenter">Edit this Picture</p></div>
<%= image_tag @users_image.image.url, class:'width' if @users_image.image_stored? %>


<%= form_for @users_image, url: users_image_path(@users_image), method: :patch do |f|%>

<div class="field">
   <div class="form-group">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
    </div>
     <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    </div>
    <div class="exit"> 
      <%= link_to 'Cancel', photos_path %>
      <%= f.submit 'Save Image', class: 'btn'%>
     </div> 
</div>
    
 <% end %>