<div class="formForImage">
 <div class="uploader">
    <p class="introText">New Image</h1>
    <%= form_for @users_image, remote: true do |f|%>
    <%= f.file_field :image, required: true, class:'file' %>
    <%= f.text_field :author, placeholder: 'Author'%>
    <%= f.text_field :title, placeholder: 'Title', required: true %>
    <%= f.text_area :description,  class: 'form-control', rows:'8' %>
    <div class="btn cancel"><p>Cancel</p></div>
    <%= f.submit 'Submit', class: 'btn' %>
    
  </div>
</div>
<% end %>

