
<div class="container">
<div class="login">
<p class="introText">Digitale Bildsammlung</p>
 <h1>Hi!</h1>
    <%= form_for :user do |f| %>
      <%= f.text_field :loginname, :placeholder => 'Name' %>
      <%= f.text_field :email, :placeholder => 'Email' %>
      <%= f.text_field :password, :placeholder => 'Password' %>
      <%= f.submit "Sign up", :class => "form-btn"%>
    <% end %>
  </div>
</div>