<nav class="main">
<ul>
  <!--<li>Bild des Tages wählen</li>
  <li>Bild des Tages vorschlagen</li>-->
  <li></li>
  <li>Lectüre</li>
  <li><%= link_to 'Galleries', galleries_path %></li>
  
</ul>
</nav>

<nav class="languages">
  <ul>
    <li>Sprachen</li>
    <% if user_signed_in? %>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
    <% else %>
    <li><%= link_to 'Login', new_user_session_path %></li> 
    <% end %>
  </ul>
</nav>


<p class="name centered"> Digitale Bildgallerie</p>
 

<div class="galleries-wrapper" id="galleries_grid">
  <%= render 'galleries/gallery'%>
</div>

<%= react_component 'Main' %>

 


