
<div class="formForImage">
 <div class="uploader">
  <ul class="row" id="photos-list">
    
  </ul>
    <p class="introText">New Image</h1>
    <div id="target"></div>
    <%= form_for @photo do |f| %>
    <%= f.file_field :image, class:'file', name: 'photo' %>
    <%= f.text_field :author, placeholder: 'Author'%>
    <%= f.text_field :title, placeholder: 'Title' %>
    <%= f.text_area :text,  class: 'form-control', rows:'8' %>
    <div class="btn cancel"><p>Cancel</p></div>
    <%= f.submit 'Submit', class: 'btn' %>

    
    
  </div>
</div>

<% end %>
