<h1>List of photos</h1>

<ul class="row" id="photos-list">
  <%= render @photos %>
</ul>


<h3>Upload multiple photos</h3>
<%= form_for @photo do |f| %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, required: true, multiple: true, name: 'photo[image][]' %>
    <%= f.submit 'Submit', class: 'btn' %>
  </div>
<% end %>
<div id="target"></div>