<header>
  <h1 class="centered">Edit this Gallery</h1>
  <div><%= link_to 'back', gallery_path(@gallery) %></div>
</header>

 <%= form_for @gallery do |f| %>
   <div class="EditFormBox">
    <%= f.text_field :name, placeholder: 'Name'%>
    <%= f.text_area :description,  class: 'form-control', rows:'3', class:'text'  %>
    <%= f.submit 'Submit', class: 'btn' %>
    </div>



 
 <p class="centered">Pictures in this gallery</p>
     <% @gallery.pictures.each do |p| %>
      <div class="gallery"> 
       <%= image_tag p.image.url if p.image_stored? %>
         <p class="author"><%= p.title %>  </p>
         <p class="author"><%= p.author %>  </p>
         <p class="comment"><%= p.description %></p>
          <%= link_to 'Delete', [p.gallery, p],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
       </div>
      <% end %> 

 <% end %> 