<nav class="main">
  <ul>
    <li><%= link_to 'home', welcome_index_path %></li>
    <li><%= link_to 'add new gallery', new_gallery_path %></li>
  </ul>
</nav>

<header>
  <h1>All galleries</h1>
</header>

<div class="gallery galleryBox DoNotShow">
  <h3 class="centered">Create new gallery</h3>
  <%= form_for(@gallery, remote: true) do |f| %>
    <div class="cover-box">
      <p class="centered">Unpload an Image for gallery's preview</p>
      <%= f.file_field :image, class:'file' %>
    </div>

    <div class="description-box">
      <p class="centered">Title</p>
      <%= f.text_field :name, placeholder: 'Name', required: true  %>
      <p class="centered">Description</p>
      <%= f.text_field :description,  placeholder: 'Description', required: true %>
      <%= f.submit 'Create' %>  
    </div>
   <% end %> 
 </div>

<div class="galleries-wrapper" id="galleries_grid">
 <% @galleries.each do |gallery| %>
   
  <div class="gallery-box">
     <div class="cover-box">
       <%= link_to(gallery) do %>
       <%= image_tag gallery.image.url  if gallery.image_stored? %>
       <% end %>

       <%= link_to 'Edit', edit_gallery_path(gallery), class: 'edit' %>       
       <%= link_to 'Delete', gallery_path(gallery), remote: true,
              class: 'destroy',
              method: :delete,
              data: { confirm: 'Do You really want to delete this gallery?' } %>
       
          <div class="info-box"> 
          <h3 class="gallery-title"><%= gallery.name %></h3>
          <p class="gallery-description"><%= gallery.description %></p>
          </div>
       
     </div>

     
   </div>
    
 <% end %>
</div>

