<nav class="main">
  <ul>
    <li><%= link_to 'home', welcome_index_path %></li>
    <li><%= link_to 'back to galleries', galleries_path %></li>
  </ul>
</nav>

<h1 class="centered">Create a new Gallery</h1>
<p class="centered"> Add a gallery's Description</p>


<div class="gallery galleryBox">
  <%= form_for(@gallery, remote: true) do |f| %>
    <div class="cover-box">
   <div id="cover"></div>
      <p class="centered">Unpload an Image for <br> gallery's preview</p>
      <%= f.file_field :image, class:'file' %>
      <label for="gallery_image">Upload</label>
      
    </div>

    <div class="description-box">
      <p class="centered">Title</p>
      <%= f.text_field :name, placeholder: 'Name', required: true  %>
      <p class="centered">Description</p>
      <%= f.text_field :description,  placeholder: 'Description', required: true %>
      <%= f.submit 'Create', class:'submit-btn' %>  
    </div>
   <% end %> 
 </div>

 <p class="centered">Add some pictures to this gallery</p>
 
 
 <div class="DoNotShow" id="FormForUpload">

 </div>

 <div class="modalview-background DoNotShow"></div>