<section class="gallery-info">
<nav class="main">
  <ul>
    <li><%= link_to 'home', '/' %></li>
    <li><%= link_to 'back to galleries', galleries_path %></li>
    <li><a class="button">add new pictures</a></li>
  </ul>
</nav>

<nav class="main menu-right">
  <ul>
    <li><a class="one-image-grid">single</a></li>
    <li><a class="multi-image-grid">multi</a></li>
    <% if user_signed_in? && @gallery.user_id == current_user.id %>
    <li><%= link_to 'edit', edit_gallery_path(@gallery) %></li>
    <li><%= link_to 'published', published_gallery_path(@gallery), method: :patch, remote: true %> </li>
    <% end %>  
  </ul>
</nav>

 
<h1 class="centered"><%= @gallery.name %></h1>


</section>

<div class="DoNotShow" id="FormForUpload"> 
       <div id="target"></div>
       <%= form_for([@gallery, @gallery.pictures.build], remote: true) do |f| %>
       
       <%= f.file_field :image, class:'file', :multiple => true %>
       <label for="picture_image">Choose</label>
       <div class="add"><%= f.submit 'Upload' %></div>
       <% end %>
   
 </div>


<div class="centered-children">
  <div id="grid">
  <% if @pictures.any? %>                             
     <%= render 'pictures/pictures' %>                             
  <% else %>                             
    <%= render 'galleries/no_records' %>
 <% end %>  
  </div>
</div>


 
 <div class="modalview-background DoNotShow"></div>