<nav class="main">
  <ul>
    <li><%= link_to 'home', welcome_index_path %></li>
    <li><%= link_to 'back to galleries', galleries_path %></li>
    <li><a class="button">add new pictures</a></li>
  </ul>
</nav>

<nav class="main right">
  <ul>
    <li><a class="one-image-grid">single</a></li>
    <li><a class="multi-image-grid">multi</a></li>
    <li><%= link_to 'edit', edit_gallery_path(@gallery) %></li>
  </ul>
</nav>

<header>  
  <h1><%= @gallery.name %></h1>
  <!--<%= link_to 'add new images to this gallery', [@gallery, @gallery.pictures.build], controller: :pictures, action: :new %>-->
</header>

<div class="DoNotShow" id="FormForUpload"> 
       <div id="target"></div>
       <%= form_for([@gallery, @gallery.pictures.build], remote: true) do |f| %>
       
       <%= f.file_field :image, class:'file', :multiple => true %>
       <p><%= f.submit  %></p>
       <% end %>
   
 </div>

<div class="centered-children">
 <!-- <div class="form-for-upload">
       <div id="target"></div>
       <%= form_for([@gallery, @gallery.pictures.build]) do |f| %>
       <%= f.file_field :image, class:'file', :multiple => true %>
       <p><%= f.submit  %></p>
       <p><% end %></p>
   </div>-->
  <div id="grid">
   

 <% @pictures.each do |p| %>
   <div class="imageBox">
    <%= link_to gallery_picture_path(@gallery, p) do %> 
    
      <%= image_tag p.image.url if p.image_stored? %> 
      <% end %>
      <p class="fields"><%= p.title %> </p>
      <p class="fields"><%= p.author %> </p>
      <p class="fields"><%= p.description %></p>
     
      <%= link_to 'Edit', edit_gallery_picture_path(@gallery, p), class: 'edit' %>
      <%= link_to 'Delete', [p.gallery, p], 
      class: 'destroy',
               remote: true,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    
     
     </div>
 <% end %>
 </div>
</div>


 
 <div class="modalview-background DoNotShow"></div>